@font-face {
    font-family: KumbhSans;
    src: url(./Outfit-VariableFont_wght.ttf);
}
*{
    font-family: KumbhSans;
}
.head{
    width: 100%;
    height: 50px;
}
.head ul{
    margin-left: 7% ;
    
}

ul li{
    display: inline;
    list-style: none;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}
#char{
    float: right;
    margin-right: 10%; 
}
#char #avatar{
    width: 40px;
    margin-left: 30px;
}
#carte1{
    transform: translate(0 , -7px);
}
#traco{
    margin: auto;
    width: 90%;
    height: 1px;
    background-color: rgb(212, 212, 212);
    margin-bottom: 80px;
    margin-top: 20px;
}
#main{
    margin: auto;
    width: 57%;

}
#main .foto{
    border-radius: 3%;
    width: 330px;
    display: block;
    cursor: pointer;
}
#main .thumb{
    border-radius: 7%;
    width: 65px;
    cursor: pointer;
}
#main .thumb:not(:first-of-type){
    margin-right: 18px;
    margin-top: 10px;
}

.imghide{
    display: none;
}
.showitm{
    display: inline-block;
    height: fit-content;
    width: 50%;
}
#discrip{

    width: 50%;
    float: right;
}
#cpn{
    color: hsl(26, 100%, 55%);
}
#price{
    display: inline-block;
}
#off{
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    display: inline-block;
    margin-left: 20px;
    border-radius: 10%;
    height: 23px;
    width: 37px;
    padding-left: 7px;
    padding-top: 4px;
    
}
#ant{
    color: rgb(165, 163, 163);
    text-decoration: line-through;
}
#mountant{
    width: 102px;
    height: 40px;
    border-radius: 5%;
    display: inline-block;
    background-color: rgb(237, 235, 235);
    padding-left: 25px ;
    padding-top: 20px;
    cursor: pointer;
}
.montant{
    display: inline-block;
    margin-right: 10px ;
}
.cont{
    margin-left: 5px ;
    margin-right: 5px;
}
.cart{
    color: white;
    background-color: hsl(26, 100%, 55%);
    border-radius: 7%;
    display: inline-block;
    width: 177px;
    height: 40px;
    padding-left: 60px;
    padding-top: 20px;
    transform: translate( 40px , 5px);
    cursor: pointer;
}
#carte{
    margin-right: 20px;
    
}
#menu{
    display: none;
}

@media screen and (max-width: 400px){

    @font-face {
        font-family: KumbhSans;
        src: url(./Outfit-VariableFont_wght.ttf);
    }
    *{
        font-family: KumbhSans;
    }
    .head{
        width: 100%;
        height: 50px;
    }
    .head ul{
        transform: translate(-30px);
        
    }
    .coll{
        display: none;
    }
    #menu{
        display: inline;
        margin-right: 10px;
    }
    ul li{
        display: inline;
        list-style: none;
        float: left;
        margin-top: 10px;
        cursor: pointer;
        transform: translate(-50px , 0px);
    }
    #char{
        float: right;
        margin-right: 4%; 
        transform: translate(0,-30px);
    }
    #char #avatar{
        width: 40px;
        margin-left: 30px;
    }
    #carte1{
        transform: translate(0 , -7px);
    }
    #traco{
        display: none;
    }
    #main{
        
        width: 100%;
        height: fit-content;
        padding: 0%;
    
    }
    

    
    #main .foto{
        border-radius: 3%;
        width: 100%;
        display: block;
        cursor: pointer;
    }
    #main .thumb{
        border-radius: 7%;
        width: 65px;
        cursor: pointer;
    }
    #main .thumb:not(:first-of-type){
        margin-right: 18px;
        margin-top: 10px;
    }
    
    .imghide{
        display: none;
    }
    .showitm{
        display: block;
        background-color: red;
        clear: right;
        width: 100%;
    }
    #discrip{
    
        width: 50%;
        float: right;
    }
    #cpn{
        color: hsl(26, 100%, 55%);
    }
    #price{
        display: inline-block;
    }
    #off{
        color: hsl(26, 100%, 55%);
        background-color: hsl(25, 100%, 94%);
        display: inline-block;
        margin-left: 20px;
        border-radius: 10%;
        height: 23px;
        width: 37px;
        padding-left: 7px;
        padding-top: 4px;
        
    }
    #ant{
        color: rgb(165, 163, 163);
        text-decoration: line-through;
    }
    #mountant{
        width: 102px;
        height: 40px;
        border-radius: 5%;
        display: inline-block;
        background-color: rgb(237, 235, 235);
        padding-left: 25px ;
        padding-top: 20px;
        cursor: pointer;
    }
    .montant{
        display: inline-block;
        margin-right: 10px ;
    }
    .cont{
        margin-left: 5px ;
        margin-right: 5px;
    }
    .cart{
        color: white;
        background-color: hsl(26, 100%, 55%);
        border-radius: 7%;
        display: inline-block;
        width: 177px;
        height: 40px;
        padding-left: 60px;
        padding-top: 20px;
        transform: translate( 40px , 5px);
        cursor: pointer;
    }
    #carte{
        margin-right: 20px;
        
    }
    

}
